<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="FluidSecureConnectionString" connectionString="Data Source=103.8.126.241;Initial Catalog=FSNew;uid=vaspdeveloper;pwd=developer@345#$;MultipleActiveResultSets=True;
				 Max Pool Size=75;Min Pool Size=1;Connect Timeout=480" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="emailAccount" value="vaspsolutions.test@gmail.com"/>
		<add key="emailPassword" value="vasp@123#$"/>
		<add key="FromEmail" value="vaspsolutions.test@gmail.com"/>
		<add key="smtpPort" value="587"/>
		<add key="smtpServer" value="smtp.gmail.com"/>
		<add key="EnableSsl" value="True"/>
    <add key="EmailSendTO" value="vaspsolutions.test@gmail.com"/>
    <add key="PathForSupportFollowUpEmailTemplate" value="D:\Office Work\TRAK\GIT_SupportFollowUpRequired\SupportFollowUpRequiredEmail\SupportFolowUpTemplate.txt"/>
    
    <!--<add key="emailAccount" value="support@fluidsecure.com"/>
    <add key="emailPassword" value="SecureFluid@123"/>
    <add key="FromEmail" value="support@fluidsecure.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="True"/>
    <add key="EmailSendTO" value="support@fluidsecure.com"/>
    <add key="PathForSupportFollowUpEmailTemplate" value="D:\Office Work\TRAK\GIT_SupportOpenIssueEmailJOB\SupportOpenIssueEmailJOB\SupportIssueUnResolvedEmail.txt"/>
    -->
    <add key="OwnerEmail" value="Support"/>
    <add key="EmailSendDurationInMin" value="720"/>
    <!--12 Hours-->
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogReport.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>
